html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Arial, sans serif;
}

div {
	margin: 0 auto;
}

div div {
	position: relative;
	margin: 0 auto;
}

/** HEADER  **/

.header {
	height: 50px; width: 100%;
	top:0px;
    left:0px;
    position:absolute;
	background-color: #eee;
}

.menu {
	height: 40px; width: 200px;
	margin: 5px 5px 5px 5px;
	background-color: #aaa;
	float: right;
}

/** FOOTER **/

.footer {
	height: 40px; width: 100%;
	bottom: 1px; left: 0;
	position: absolute;
	background-color: #f2f2f2;
	border-top: 1px solid #ddd;
	font-size: 0.8em;
}

.foot1 {
	margin: 0 auto;
	padding-left: 30px;
	float: left;
	text-align: center;
	display: inline-block;
	color: #666;
}

.foot2 {
	margin: 0 auto;
	padding-right: 30px;
	padding-top: 13px;
	float: right;
	text-align: center;
	display: inline-block;
	color: #666;
}

/** CONTENT **/

.content {
	height: 100%;
	text-align: center;
	font-size: 0.8em;
}

.logo {
	height: 100px; width: 279px;
	padding-top: 190px;
}

.search {
	margin-top: 20px;
	border: 1px solid #d9d9d9;
	height: 30px; width: 42%;
	text-align: left;
	padding-left: 10px;
}

.search:hover {
	border: 1px solid #4d90fe;
}

.search_content {
	display: inline-block;
	outline: none;
	border: 0px solid;
	margin-top: 1px;
	vertical-align:middle;
}

input[type=search] {
	border:none;
	box-shadow: 0;
	width: 545px;
}

input[type=search]:focus {
	border:none;
	box-shadow: 0;
	outline: 0;
}

.buttons {
	height: 35px; width: 100px;
	background-color: #eee;
	margin-top: 15px;
	display: inline-block;
	float: center;
}

.other_lang {
	height: 25px; width: 400px;
	margin-top: 35px;
}