html {
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Arial, sans serif;
}

div {
	margin: 0 auto;
}

div div {
	position: relative;
	margin: 0 auto;
}

.content a {
	text-decoration: none;
	padding-left: 10px;
}

.content a:hover {
	text-decoration: underline;
}

.content a:visited {
	color: #00F;
}

/** HEADER  **/

.header a {
	text-decoration: none;
	color: #666;
}

.header a:hover {
	text-decoration: underline;
}

.header {
	height: 50px; width: 100%;
	top:0px;
    left:0px;
    position:absolute;
	font-size: 0.8em;
	color: #666;
}

.wrap_menu {
	margin: 0 auto;
	margin-right: 15px;
}

.menu {
	padding-top: 3px;
	margin: 20px 15px 5px 5px;
	float: right;
	text-align: center;
}

#profile {
	margin-top: -5px;
	max-height: 32px;
	border-radius: 100%;
}

#profile:hover {
  	box-shadow: 1px 1px 1px 1px #ddd; 
}

#notif {
	max-height: 20px;
	border-radius: 100%;
	opacity: 0.7;
}

#apps {
	max-height: 18px;
	opacity: 0.7;
}

#notif:hover, #apps:hover {
	opacity: 1;
}

#name {
	opacity: 0.7;
}

/** FOOTER **/

.footer {
	height: 40px; width: 100%;
	bottom: 1px; left: 0;
	position: absolute;
	background-color: #f2f2f2;
	border-top: 1px solid #ddd;
	font-size: 0.8em;
	color: #666;
}

.footer a {
	color: #666;
	text-decoration: none;
}

.footer a:hover {
	color: #666;
	text-decoration: underline;
}

.foot1 {
	margin: 0 auto;
	padding-left: 30px;
	padding-top: 13px;
	float: left;
	text-align: center;
	display: inline-block;
}

.foot2 {
	margin: 0 auto;
	padding-right: 30px;
	padding-top: 13px;
	float: right;
	text-align: center;
	display: inline-block;
}

/** CONTENT **/

.content {
	height: 100%;
	text-align: center;
	font-size: 0.8em;
}

.logo {
	height: 100px; width: 279px;
	padding-top: 190px;
}

.search {
	margin-top: 20px;
	border: 1px solid #d9d9d9;
	height: 30px; width: 575px;
	text-align: left;
	padding-left: 10px;
}

.search:hover {
	border: 1px solid #4d90fe;
}

.search_content {
	display: inline-block;
	outline: none;
	border: 0px solid;
	margin-top: 1px;
	vertical-align:middle;
}

input[type=search] {
	border:none;
	box-shadow: 0;
	width: 545px;
}

input[type=search]:focus {
	border:none;
	box-shadow: 0;
	outline: 0;
}

.buttons {
	margin-top: 5px;
	display: inline-block;
	float: center;
}

input[type=submit] {
	height: 30px;
	font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #444;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    margin: 11px 8px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

input[type=submit]:hover {
    color: #000;
    -webkit-box-shadow: 1px 1px 1px 1px #eee;
  	-moz-box-shadow:    1px 1px 1px 1px #eee;
  	box-shadow:         1px 1px 1px 1px #eee;
}

.other_lang {
	height: 25px; width: 400px;
	margin-top: 35px;
}